@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --bg_color: #232323;
  --text_color: #fff;
}
.animate__animated.animate__slideInDown {
  --animate-duration: 50ms;
}
* {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}
.add_bg {
  background-color: var(--bg_color) !important;
}
body {
  /* background: var(--main-background); */
  background-color: var(--bg_color) !important;
  color: var(--text_color);
}
.primary_button {
  @apply rounded-md text-sm gap-x-2 max-w-[180px] button px-3 py-2  flex items-center justify-center;
}
.ql-editor > * {
  color: var(--text_color) !important;
}
.ql-editor.ql-blank::before {
  color: var(--text_color) !important;
}
.button {
  white-space: nowrap;
  border: 1px solid #6f6f6f;
}
.input,
.add_border {
  border: 1px solid #555555;
}
.label_input {
  @apply flex flex-col items-start w-[300px];
}
.label_input > label {
  @apply text-gray-200 text-sm;
}
.modal {
  position: fixed;
  inset: 0px;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #232323;
  overflow-y: scroll;
}
.draft_actions,
.header_actions {
  @apply rounded-full add_border flex items-center justify-center add_bg w-[25px] h-[25px];
}
.modal_child,
.ql-editor {
  @apply w-[97%]  sm:w-[600px];
}
.subtext {
  @apply text-gray-300;
}
.success_text {
  @apply text-green-400;
}
